*.txt
*.csv
homework/homework2/.ipynb_checkpoints/*
homework/homework1/.ipynb_checkpoints/*
.idea/MachineLearning-CS3244.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
inpublic/
